@{
    ViewData["Title"] = "Home Page";
}
@model FormValidationModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div><input type="text" asp-for = "FirstName"/></div>
    <span class="text-danger" asp-validation-for="FirstName"></span>
    <div><input asp-for="LastName" /></div>
    <div>
        <span class="text-danger" asp-validation-for="LastName"></span></div>
    <input type="submit"/>
</form>
