@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my own World</h1>
    <p>Learn with me <a href="https://github.com/kishanmoliya">github.com</a>.</p>
</div>
